<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Bootswatch</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li>
              <a href="../help/">Upload</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">View</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href='#' target="_blank">Contact</a></li>
            <li><a href="#" target="_blank">Log In</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1>Nessus Report Generator</h1>
            <p class="lead">Flat and modern</p>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <p>This is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alks </p>
            </div>
          </div>
        </div>
      </div>
