<%= render 'layouts/navbar' %>
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1>Nessus Report Generator</h1>
            <p class="lead">Upload and view</p>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <p>This is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alks </p>
            </div>
          </div>
          <div class="row">
            <% if user_signed_in? %>
              <%= render 'layouts/upload' %>
            <% end %>

          </div>
        </div>
      </div>
